@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Tambahkan class utility font arab */
.font-amiri {
  font-family: 'Amiri', serif;
}


@font-face {
  font-family: 'LPMQ IsepMisbah';
  /* Pastikan path URL ini sesuai dengan lokasi file font Anda di folder public */
  src: url('/fonts/lpmq.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Memastikan teks tetap muncul sambil menunggu font didownload */
}

/* --- TAMBAHKAN KODE INI DI BAWAHNYA --- */
.font-lpmq {
  font-family: 'LPMQ IsepMisbah', 'Traditional Arabic', serif !important;
  line-height: normal; /* Menjaga agar harakat tidak terpotong */
}